APP_ENV=development

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=sistema_backup
DB_USER=postgres
DB_PASSWORD=defina_uma_senha_local_segura

JWT_SECRET=gere-uma-chave-aleatoria-com-pelo-menos-32-caracteres
JWT_ISSUER=nyxcloud
JWT_TTL=3600
JWT_REMEMBER_TTL=2592000
COOKIE_SECURE=false

MAIL_HOST=mail.nyxcloud.com.br
MAIL_PORT=587
MAIL_USERNAME=contato@nyxcloud.com.br
MAIL_PASSWORD=altere_esta_senha
MAIL_TO=contato@nyxcloud.com.br

ACRONIS_BASE_URL=https://example.acronis.cloud
ACRONIS_CLIENT_ID=
ACRONIS_CLIENT_SECRET=
ACRONIS_TIMEOUT=30
ACRONIS_SSL_VERIFY=true
ACRONIS_TOKEN_CACHE_TTL=6600
